@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

*{
  transition-property: background-color;
  transition-duration: 350ms;
  transition-timing-function: ease-in-out;
}

body {
  @apply bg-gray-200 dark:bg-gray-800 text-gray-800 dark:text-gray-100;
}


.container {
  @apply flex p-2 mx-auto max-w-screen-xl;
}

section.container{
  @apply grid;
}
